html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  background-color: $page-background-color;
}

.ccm-page {
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
}

body .ccm-page {
  line-height: 1.65;
  font-family: $font-family-base;
  font-weight: 400;
  overflow-x: hidden;
}

.ccm-page {
  .h1, .h2, .h3, .h4, .h5, .h6,
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.8rem;
    line-height: 1.2;
    font-weight: 400;
  }

  h1, .h1 { font-size: 2rem; }
  h2, .h2 { font-size: 1.75rem; }
  h3, .h3 { font-size: 1.6rem; }
  h4, .h4 { font-size: 1.5rem; }
  h5, .h5 { font-size: 1.25rem; }
  h6, .h6 { font-size: 1.1rem; }
}

@media (min-width: 576px) {
  body .ccm-page {
    font-weight: 300;
    line-height: 1.75;
  }
}

@media (min-width: 768px) {
  h1, .h1 { font-size: 2.2rem !important; }
  h2, .h2 { font-size: 1.85rem !important; }
  h3, .h3 { font-size: 1.8rem !important; }
  h4, .h4 { font-size: 1.7rem !important; }
  h5, .h5 { font-size: 1.45rem !important; }
  h6, .h6 { font-size: 1.3rem !important; }
}

@media (min-width: 992px) {
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 300 !important;
  }
}

@media (min-width: 1200px) {
  h1, .h1 { font-size: 2.5rem !important; }
  h2, .h2 { font-size: 2.2rem !important; }
  h3, .h3 { font-size: 2rem !important; }
  h4, .h4 { font-size: 1.9rem !important; }
  h5, .h5 { font-size: 1.8rem !important; }
  h6, .h6 { font-size: 1.6rem !important; }
}
