@preset-name: "Henny Penny";
@preset-icon: concrete-icon(#ffffff, #eeeeee, #999999);
@preset-fonts-file: "build/fonts/henny-penny.less";

/* theme constants */

@background-color                          : #888888;

//@primary-color                           : #ffffff;
//@border-color                            : #ffffff;
//@sitename-color                          : #ffffff;

@accent-color                              : rgb(204, 166, 56); // links, digbats, icons
//@accent-contrast-color                   : rgb(224, 224, 224);

@link-color                                : #7ed1ff;
@nav-link-color                            : #ffffff;

@social-icon-background-color              : #999999;
@social-icon-color                         : #ffffff;
@social-icon-background-hover-color        : #333333;
@social-icon-hover-color                   : #ffffff;
// fonts

@body-type-font-family                    : "afta_sansregular";
@body-type-font-weight                    : 400;
@body-type-font-line-height               : 1.75;
@body-type-font-size                      : 1.0em;
@body-type-color                          : #444444;

@header-type-font-family                  : "afta_sansregular";
@header-type-font-weight                  : 400;
@header-type-font-line-height             : 1.1;
@header-type-color                        : #222222;

@nav-type-font-family                     : "aleoregular";
@nav-type-color                           : #ffffff;
@nav-background-color                     : rgba(0,0,0, 0.6) ;

@sitename-type-font-family                : "Henny Penny";
@sitename-type-font-weight                : 400;
@sitename-type-font-size                  : 5.0em;
@sitename-type-color                      : #ffffff;

// preset per theme

@screen-xs-min                            : 480px;
@screen-sm-min                            : 768px;
@screen-md-min                            : 992px;
@screen-lg-min                            : 1070px;

/* local setitings */

@container-max-width                      : 1070px;
@gutters                                  : 25px;


@slicknav-background-color: rgba(0, 0, 0, 0.2);
@slicknav-sitename-color: #fff;
@slicknav-sitename-hover-color: #eeeeee;

@slicknav-button-background-color: rgba(0,0,0,0.0)     ;
@slicknav-button-color: rgba(255, 255, 255, 0.0);
@slicknav-button-text-color: #fff;

@slicknav-link-background-color: rgba(0, 0, 0, 0.3) ;
@slicknav-link-background-hover-color: rgba(70, 181, 196, 1);

@slicknav-link-color: #fff ;
@slicknav-link-hover-color: #eee;

@slicknav-bottom-border: #000000;
