$primary: #1745d0 !default;
$secondary: #d6ac15 !default;
$body-bg: #fff !default;
$body-color: #111 !default;
$link-color: #046277 !default;
$link-hover-color: #680590 !default;
$header-bar-background: rgba(0, 0, 0, 0.35) !default;
