@import url("https://fonts.googleapis.com/css2?family=Droid+Sans:wght@400;700&family=Nunito+Sans:wght@400;600&display=swap");

$font-family-base: "Droid Sans", "Nunito Sans", Roboto, sans-serif;
$line-height-base: 1.75;
$headings-font-family: "Droid Sans", "Nunito Sans", sans-serif;
$headings-font-weight: 400;
$headings-color: #111;
