// Urbane customizable theme variables (Style Customizer)
$primary: #ff05c4 !default;
$secondary: #111111 !default;
$accent-color: #ff05c4 !default;
$header-sitename-color: #111111 !default;
$page-background-color: #ffffff !default;
$font-family-base: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif !default;
